


#nav{
  padding: 0;
}

#nav li{
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
  width: 20%;
}

#nav a:link, a:visited{
  display: block;
  color: yellow;
  background-color: black;
  text-align: center;
  text-decoration: none;
  padding: 4px;
}

#nav a:hover, a:active {
  background-color: gray;
}

form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
