


#nav{
  padding: 0;
}

#nav li{
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
  width: 25%;
}

#nav a:link, a:visited{
  display: block;
  color: yellow;
  background-color: black;
  text-align: center;
  text-decoration: none;
  padding: 4px;
}

#nav a:hover, a:active {
  background-color: gray;
}
