

.displayed {
  float:left;
  width: 100px;
  padding-left: 20px;
  margin-top: 20px;
}

#button a:link{
  color:black;
  font-family:'Raleway', sans-serif;
  padding-bottom: 25px;
  text-decoration:none;
  border-color:black;
  border-width: 2px;
  text-decoration: none;
  width: 175px;
  padding: 8px;
}

#button a:visited{
  color:black;
  border-color:black;
  border-width: 2px;
  text-decoration: none;
  width: 175px;
  padding: 8px;
}

#container {
  width: 100%;
  background-color:#ebebeb;
  margin:0 auto;
  padding-top: 0px;
  margin-bottom: 0%;
  text-align: center;
}

#top {
  background-color: #333333;
  text-align: center;
  color: white;
  padding-top: 135px;
  padding-bottom: 75px;
}

#middle {
  background-color: #ffea00;
  text-align: center;
  color: black;
  padding-top: 50px;
  padding-bottom: 200px;
}

#middle2 {
  background-color: #ffea00;
  text-align: left;
  display: inline-block;
  color: black;
  padding-top: 50px;
  padding-bottom: 300px;
}

#bottom {
  background-color: #333333;
  color: white;
  font-size: .7em;
  text-align: left;
  padding-bottom: 30px;
}
#lower {
  background-color: #ebebeb;
  padding-top: 90px;
  padding-bottom: 100px;
}

#footer{
  padding-top: 10px;
  padding-right: 10px;
  text-align: right;
  background-color: #333333;
}
h1{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}

p{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5em;
  font-weight: lighter;
}


h3 {
  font-family: 'Raleway', sans-serif;
}

#link a:link {
  font-family: 'Raleway', sans-serif;
  border-style:solid;
  border-color:#ffea00;
  border-width: 2px;
  text-decoration: none;
  width: 175px;
  padding: 8px;
  margin-bottom: 100px;
}

#link a:hover, a:active{
  background-color: gray;
}

#nav{
  padding: 0;
}

#nav li{
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 0;
  width: 14%;
  font-family: 'Raleway', sans-serif;

}

#nav a:link, a:visited{
  display: block;
  color: #ffea00;
  background-color: #333333;
  text-align: center;
  text-decoration: none;
  padding: 4px;
}

#nav a:hover, a:active {
  text-decoration:underline;
  color: #ffea00;
}

form {
    /* Just to center the form on the page */
    margin: 0 auto;
    /* To see the outline of the form */
    padding: 2em;
    background-color: #ffea00;
    text-align: center;
}

label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 90px;
    text-align: right;
    font-family: 'Raleway', sans-serif;
    color: black;
}

input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font-family: 'Playfair Display', serif;

    /* To give the same size to all text field */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
}

form div + div {
    margin-top: 1em;
}

textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 8em;

    /* To allow users to resize any textarea vertically
       It does not work on all browsers */
    resize: vertical;
}
